{
  "/" : {
    "path" : "/",
    "security" : {
      "module" : "EMBEDED",
      "config" : {
        "users" : [ {
          "username" : "foo",
          "password" : "bar",
          "roles" : [ "admin" ]
        }, {
          "username" : "foo",
          "password" : "bar",
          "roles" : [ "support" ]
        }, {
          "username" : "foo",
          "password" : "bar"
        } ]
      },
      "classPath" : [ ]
    },
    "langFolder" : "${webswing.configDir}/lang",
    "homeDir" : "${user.dir}",
    "allowedCorsOrigins" : [ "*" ],
    "adminConsoleUrl" : "${WEBSWING_ADMIN_URL}"
  },
  "/swingset3" : {
    "path" : "/swingset3",
    "webFolder" : "${webswing.rootDir}/apps/SwingSet3/webroot",
    "security" : {
      "module" : "INHERITED",
      "classPath" : [ ]
    },
    "icon" : "${webswing.rootDir}/apps/SwingSet3/icon.png",
    "langFolder" : "${webswing.configDir}/lang",
    "swingConfig" : {
      "jreExecutable" : "${java.home}/bin/java",
      "javaVersion" : "${java.version}",
      "vmArgs" : "-Xmx128m -DauthorizedUser=${user} -Dwebswing.optimizeCaret=true -Ddirectdraw.fontsProvided=true",
      "classPathEntries" : [ "${webswing.rootDir}/apps/SwingSet3/SwingSet3.jar", "${webswing.rootDir}/apps/SwingSet3/*.jar" ],
      "theme" : "Murrine",
      "fontConfig" : {
        "dialog" : "${webswing.configDir}/fonts/Roboto-Regular.ttf",
        "dialoginput" : "${webswing.configDir}/fonts/RobotoMono-Regular.ttf",
        "serif" : "${webswing.configDir}/fonts/RobotoSlab-Regular.ttf"
      },
      "swingSessionTimeout" : 300,
      "isolatedFs" : true,
      "debug" : true,
      "javaFx" : true,
      "javaFxClassPathEntries" : [ "${webswing.rootDir}/apps/javafx/*.jar" ],
      "directdraw" : true,
      "compositingWinManager" : true,
      "allowDelete" : true,
      "allowDownload" : true,
      "allowAutoDownload" : true,
      "allowUpload" : true,
      "allowJsLink" : true,
      "jsLinkWhitelist" : [ "org.webswing.demo.jslink.JsLinkDemo.*" ],
      "launcherType" : "Desktop",
      "launcherConfig" : {
        "mainClass" : "com.sun.swingset3.SwingSet3"
      },
      "userDir" : "${user}",
      "transparentFileSave" : true,
      "clearTransferDir" : true,
      "transparentFileOpen" : true,
      "transferDir" : "${user}/upload",
      "homeDir" : "${webswing.rootDir}/apps/SwingSet3"
    },
    "maxClients" : 100,
    "allowStealSession" : true,
    "name" : "SwingSet3",
    "autoLogout" : true,
    "sessionMode" : "CONTINUE_FOR_BROWSER",
    "uploadMaxSize" : 5,
    "webHomeDir" : "${webswing.rootDir}/apps/SwingSet3"
  },
  "/netbeans" : {
    "path" : "/netbeans",
    "security" : {
      "module" : "INHERITED",
      "config" : { },
      "classPath" : [ ]
    },
    "icon" : "icon.png",
    "webFolder" : "",
    "swingConfig" : {
      "jreExecutable" : "${java.home}/bin/java",
      "javaVersion" : "${java.version}",
      "vmArgs" : "-Dorg.netbeans.log.startup=print -DTopSecurityManager.disable=true",
      "classPathEntries" : [ "*.jar" ],
      "theme" : "Murrine",
      "swingSessionTimeout" : 300,
      "antiAliasText" : true,
      "isolatedFs" : true,
      "debug" : true,
      "directdraw" : false,
      "allowDelete" : true,
      "allowDownload" : true,
      "allowAutoDownload" : true,
      "allowUpload" : true,
      "allowJsLink" : true,
      "fontConfig" : { },
      "launcherType" : "Desktop",
      "launcherConfig" : {
        "mainClass" : "org.webswing.demo.NbMain"
      },
      "homeDir" : "${webswing.rootDir}/apps/nbmin"
    },
    "maxClients" : 1,
    "allowStealSession" : true,
    "name" : "NetBeans Platform",
    "sessionMode" : "CONTINUE_FOR_BROWSER",
    "uploadMaxSize" : 5,
    "webHomeDir" : "${webswing.rootDir}/apps/nbmin"
  },
  "/applet" : {
    "path" : "/applet",
    "security" : {
      "module" : "INHERITED",
      "classPath" : [ ]
    },
    "icon" : "${webswing.rootDir}/apps/SwingSet3/icon.png",
    "webFolder" : "",
    "langFolder" : "${webswing.configDir}/lang",
    "swingConfig" : {
      "jreExecutable" : "${java.home}/bin/java",
      "javaVersion" : "${java.version}",
      "vmArgs" : "-Xmx128m -DauthorizedUser=${user}",
      "classPathEntries" : [ "${webswing.rootDir}/apps/SwingSet3/SwingSet3.jar", "${webswing.rootDir}/apps/SwingSet3/*.jar" ],
      "theme" : "Murrine",
      "swingSessionTimeout" : 100,
      "isolatedFs" : true,
      "debug" : true,
      "javaFx" : true,
      "javaFxClassPathEntries" : [ "${webswing.rootDir}/apps/javafx/*.jar" ],
      "directdraw" : false,
      "allowDelete" : false,
      "allowDownload" : false,
      "allowAutoDownload" : true,
      "allowUpload" : false,
      "allowJsLink" : true,
      "fontConfig" : { },
      "launcherType" : "Applet",
      "launcherConfig" : {
        "appletClass" : "org.webswing.demo.applet.SwingSet3Applet",
        "parameters" : {
          "param1" : "paramvalue1",
          "param2" : "paramvalue2"
        }
      },
      "userDir" : "${user}",
      "transparentFileOpen" : true,
      "transparentFileSave" : true,
      "transferDir" : "${user}/upload",
      "clearTransferDir" : true,
      "homeDir" : "${webswing.rootDir}/apps/SwingSet3"
    },
    "maxClients" : -1,
    "allowStealSession" : true,
    "name" : "SwingSet3 applet",
    "autoLogout" : true,
    "sessionMode" : "CONTINUE_FOR_BROWSER",
    "uploadMaxSize" : 5,
    "webHomeDir" : "${webswing.rootDir}/apps/SwingSet3"
  },
  "/javafx" : {
    "path" : "/javafx",
    "webFolder" : "",
    "langFolder" : "${webswing.configDir}/lang",
    "icon" : "icon.png",
    "security" : {
      "module" : "INHERITED",
      "classPath" : [ ],
      "authorizationConfig" : {
        "users" : [ ],
        "roles" : [ ]
      }
    },
    "swingConfig" : {
      "allowUpload" : true,
      "allowDownload" : true,
      "isolatedFs" : false,
      "theme" : "Murrine",
      "directdraw" : false,
      "javaFx" : true,
      "javaFxClassPathEntries" : [ "${webswing.rootDir}/apps/javafx/*.jar" ],
      "debug" : true,
      "userDir" : "",
      "jreExecutable" : "${java.home}/bin/java",
      "javaVersion" : "${java.version}",
      "vmArgs" : "-Dquantum.verbose=true -Dprism.verbose=true",
      "launcherType" : "Desktop",
      "launcherConfig" : {
        "mainClass" : "ensemble.EnsembleApp"
      },
      "swingSessionTimeout" : 300,
      "allowDelete" : true,
      "allowAutoDownload" : true,
      "allowJsLink" : true,
      "fontConfig" : { },
      "classPathEntries" : [ "*.jar" ],
      "transferDir" : "${user}/upload",
      "transparentFileSave" : true,
      "clearTransferDir" : true,
      "transparentFileOpen" : true,
      "homeDir" : "${webswing.rootDir}/apps/ensemble8"
    },
    "maxClients" : 1,
    "allowStealSession" : true,
    "goodbyeUrl" : "",
    "name" : "JavaFx Demo",
    "autoLogout" : true,
    "sessionMode" : "CONTINUE_FOR_BROWSER",
    "uploadMaxSize" : 5,
    "webHomeDir" : "${webswing.rootDir}/apps/ensemble8"
  },
  "/ristinolla" : {
    "path" : "/ristinolla",
    "enabled" : true,
    "name" : "My Application",
    "webHomeDir" : "${user.dir}",
    "webFolder" : "",
    "restrictedResources" : [ ],
    "langFolder" : "",
    "security" : {
      "module" : "INHERITED",
      "config" : { },
      "authorizationConfig" : {
        "users" : [ ],
        "roles" : [ ]
      }
    },
    "uploadMaxSize" : 5,
    "maxClients" : 1,
    "sessionMode" : "CONTINUE_FOR_BROWSER",
    "monitorEdtEnabled" : true,
    "loadingAnimationDelay" : 2,
    "allowStealSession" : true,
    "autoLogout" : true,
    "dataStore" : {
      "module" : "INHERITED",
      "config" : { }
    },
    "swingConfig" : {
      "allowUpload" : true,
      "allowDownload" : true,
      "isolatedFs" : false,
      "sessionLogging" : false,
      "compositingWinManager" : false,
      "allowJsLink" : true,
      "javaFx" : false,
      "homeDir" : "${user.dir}",
      "theme" : "Murrine",
      "directdraw" : true,
      "debug" : false,
      "userDir" : "",
      "jreExecutable" : "${java.home}/bin/java",
      "javaVersion" : "${java.version}",
      "launcherType" : "Desktop",
      "launcherConfig" : {
        "mainClass" : "Ristinolla"
      },
      "swingSessionTimeout" : 300,
      "timeoutIfInactive" : false,
      "allowDelete" : true,
      "allowAutoDownload" : true,
      "allowLocalClipboard" : true,
      "allowServerPrinting" : false,
      "allowStatisticsLogging" : true,
      "testMode" : false,
      "classPathEntries" : [ "../app/Ristinolla.jar" ],
      "jsLinkWhitelist" : [ "*" ],
      "transferDir" : "${user}/upload",
      "transparentFileOpen" : true,
      "transparentFileSave" : true,
      "dockMode" : "ALL",
      "sessionLogFileSize" : "${webswing.sessionLog.size:-10MB}",
      "sessionLogMaxFileSize" : "${webswing.sessionLog.maxSize:-1000MB}",
      "clearTransferDir" : true
    }
  }
}
